.app {
  position: relative;
  height: 100%;
  overflow: hidden;

  display: flex;
  flex-direction: column;

  & .app__header {
    flex-shrink: 0;

    padding: 1rem;
    background: #BBB;

    display: flex;
    gap: 1rem;

    border-bottom: 1px solid grey;
  }

  & .app__content {
    height: 0;
    overflow: auto;
    flex-grow: 1;
  }
}
